{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				

				<!-- Breadcrumbs -->
			

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
                
				<div class="welcome-text">
                <h2>Mot de passe oublié</h2>
                </br>
					{{form(emailForm)}}
                    
                     
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
