{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe {% endblock %}

{% block body %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Nouveau mot de passe </h2>

				<!-- Breadcrumbs -->
			

			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">


			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
                <h1>Entrez votre nouveau mot de passe</h1>
					<form method="Post">
                    <label for="pass">Mot de passe</label>
                    <input type="password" name="password" id="pass">
                    <input type="hidden" name="token" value="{{token}}">
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" >Valider <i class="icon-material-outline-arrow-right-alt"></i></button>
                    
                    </form>
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
