{% extends 'base.html.twig' %}

{% block title %}Edit Post
{% endblock %}

{% block body %}


	<!-- Dashboard Content
								================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div
			class="dashboard-content-inner">

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>EDIT POST</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li>Edit Post</li>
					</ul>
				</nav>
			</div>

			<!-- Row -->
			<div
				class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div
						class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3>
								<i class="icon-feather-folder-plus"></i>
								Edit Post Form</h3>
						</div>


						{{ form_start(question) }}

						<div class="content with-padding padding-bottom-10">
							<div class="row">

								<div class="col-xl-4">
									<div class="submit-field">
										{{ form_label(question.question, null, {
                                            'label': 'titre :',
                                            'label_attr': {'class': 'uploadButton-button ripple-effect'}
                                            }) }}
										{{ form_widget(question.question,{'attr':{'type':'text','class':'form-control','placeholder':'question...' ,'text-align':'center'}}) }}

									</div>
								</div>

								
							


							</div>

						</div>

						<div class="col-xl-12">
							<button type="submit" class="button full-width button-sliding-icon ripple-effect margin-top-10">Edit Question<i class="icon-material-outline-arrow-right-alt"></i>
							</button>
						</div>
						{{ form_end(question) }}
					</div>
				</div>


			</div>
		</div>


	</div>
	<!-- Row / End -->


</div></div><!-- Dashboard Content / End -->{% endblock %}
