<h1>{% trans %}New contact {% endtrans %}</h1>
<p>{% trans %}Last name {% endtrans %} : {{contact.name}}</p>
<p>{% trans %}E-mail {% endtrans %} : {{contact.email}}</p>
<p>{% trans %}topic {% endtrans %} : {{contact.sujet}}</p>
<p>{% trans %}Message {% endtrans %} : {{contact.message}}</p>